.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
!fangraphs-leaderboards*.csv
!pitcher-stats*.csv
!full_stats*.csv
!player_names*.csv
!player_lookup.csv
!warcels-2019.csv
*.Rproj
app/.Renviron
*.png
*.txt
*.html
*.jpg
*.numbers
.DS_Store
